.about {
  display: flex;
  gap: 2rem;
  margin-bottom: 5rem;

  &__img {
    width: 50%;
    img {
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
    p {
      font-family: 'Josefin Sans', sans-serif;
    }
  }
}
.images {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  &__image {
    width: 48%;
    img {
      border-radius: 5px;
      width: 100%;
    }
  }
}
