@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 1.6rem;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #f1f1f1;
  font-family: "Brygada 1918", serif;
}
