@import 'styles/_var.scss';
@import 'styles/_breakpoints.scss';

.card {
  &__filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
    width: 100%;
  }
}
